@import url(./global.css);

body{
    background-color: black;
    margin: 0rem;
}

header{
    width: 90rem;
    height: 38rem;
    border-bottom: 1px solid #33A8DB;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, 0.6));
}

.banner{
    
}

.logo img{
    width: 16rem;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 4rem auto 2rem;
}

.banner h1 { 
    font-size: 2.5rem;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1572B7);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0;
}

.banner p{
    font-size: 1.5rem;
    margin: 1rem 25.5rem 1rem;
    color: white;
}

.banner-content {   
    width: 90rem;
    height: 38rem;
    background-size: cover;
    background-image: url(./assets/images/banner.png);
    text-align: center;
    margin: auto;
    background-repeat: no-repeat;
}

.banner-content button{
    width: 26.37rem;
    height: 3.7rem;
    margin: 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(#3BA1CD, #1572B7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 0.2rem solid #3BA1CD;
    padding-bottom: 0.3rem;
}